<div class="container-footer w-container" >
    <div class="w-row">
      <div class="footer-column w-clearfix w-col w-col-4">
        <h3 class="footer-failory-name">Bla Bla IPC</h3>
        <p class="footer-description-failory">Instituto Politécnico de Coimbra<br></p>
      </div>
      <div class="footer-column w-col w-col-8">
        <div class="w-row">
          
          <div class="column-center-mobile w-col w-col-4">
            <h3 class="footer-titles">Redes Sociais</h3>
            <p-divider></p-divider>
            <a href="" target="_blank" class="footer-social-network-icons w-inline-block">
            <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" width="20" alt="Instagram icon"></a>
            <a href="https://pt-pt.facebook.com/PolitecnicodeCoimbra/" target="_blank" class="footer-social-network-icons w-inline-block">
            <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook Icon"></a>
            <a href="https://pt.linkedin.com/school/politecnicodecoimbra/" target="_blank" class="footer-social-network-icons w-inline-block">
            <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" width="20" alt="LinkedIn Icon"></a>
            </div>
          </div>
        </div>
      </div>
    
  </div>
  
  