<div class="signReg " style="display: flex;justify-content: space-evenly;" >
 
 
    <div class="main">  	
      <input type="checkbox" id="chk" aria-hidden="true">
      
        <div class="signup">
          <form>
            <label for="chk" aria-hidden="true">Registar</label>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required="">
            <input type="password" name="pswd" placeholder="Password" [(ngModel)]="password" required="">
            <button (click)="registar()">Registar</button>
          </form>
        </div>
    
        <div class="login">
          <form>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required="">
            <input type="password" name="pswd" placeholder="Password" [(ngModel)]="password" required="">
            <button (click)="login()">Login</button>
          </form>
        </div>
    </div>
    </div>